# folders
.coverage_artifacts/
.coverage_cache/
.coverage_contracts/
.idea/
artifacts/
bin/
build/
cache/
coverage/
dist/
node_modules/
typechain/

# files
.env
*.log
*.tsbuildinfo
coverage.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
packages/tracker/main
packages/tracker/tracker
package-lock.json
packages/executor/cmd/executor_cli/executor_server
packages/executor/cmd/executor_server/executor_server
*.swp
*.swo
*~
*.bak
generate-docker-images.sh
lint-test-all.sh
delete-ecr-images.sh

.vscode/launch.json
auth.yaml
generate-docker-images_rewards.sh

.vscode/settings.json
skills-lock.json
.claude/skills/*
.claude/settings.local.json
